{% extends 'layout.html' %}
{% block body %}
<form action="home" method="POST">
  <center>
      The builder of a cart may be known as a cartwright; the surname "Carter" also derives from the occupation of transporting goods by cart or wagon. Carts have many different shapes, but the basic idea of transporting material (or maintaining a collection of materials in a portable fashion) remains. Carts may have a pair of shafts, one along each side of the draught animal that supports the forward-balanced load in the cart. The shafts are supported by a saddle on the horse.
    
</center>
</form>
  {% endblock %}