{% extends 'layout.html' %}
{% block head %}

<style>
* {
  background-image:url("b.jpg");
  box-sizing: border-box;
  
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
{% endblock %}
{% block body %}
<pre>

</pre>
<center><h1>FILL THE FORM</h1></center>
<pre></pre>
<div class="container">
  <form action="take" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="col-25">
      <label for="fname">User Name</label>
    </div>
    <div class="col-75">
      <input type="text"  name="uname" placeholder="Your registered user name..">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Password</label>
    </div>
    <div class="col-75">
            <input type="password" placeholder="enter your user password" name="password">
    </div>
  </div>
  <div class="row">
        <div class="col-25">
          <label for="lname">Name</label>
        </div>
        <div class="col-75">
                <input type="text" placeholder="enter your  Name" name="name">
        </div>
      </div>
      <div class="row">
            <div class="col-25">
              <label for="lname">Email</label>
            </div>
            <div class="col-75">
                    <input type="email" placeholder="enter your E-Mail" name="e_mail">  
            </div>
          </div>
          <div class="row">
                <div class="col-25">
                  <label for="lname">Mobile</label>
                </div>
                <div class="col-75">
                        <input type="text" placeholder="enter your mobile number" name="phone">
                </div>
              </div>
              <div class="row">
                    <div class="col-25">
                      <label for="lname">Image</label>
                    </div>
                    <div class="col-75">
                            <input type="file"  name="img"/>
                    </div>
                  </div>
                  <div class="row">
                        <div class="col-25">
                          <label for="lname">Name of the Product</label>
                        </div>
                        <div class="col-75">
                                <input type="text" placeholder="Enter nane of the Product" name="name_of_product">                        
                        </div>
                      </div>
  <div class="row">
    <div class="col-25">
      <label for="subject">Description</label>
    </div>
    <div class="col-75">
      <textarea name="description" placeholder="Write something about product.." style="height:200px"></textarea>
    </div>
  </div>
  <div class="columns">
      <center>
        <pre></pre>
        <button class="btn btn-primary" style="width: 100px; height: 40px;" type="submit" name="save">SAVE</button>
        <br>
        <pre></pre>
        <button class="btn btn-primary" style="width: 100px; height: 40px;" type="submit" name="delete">DELETE</button>
        <br>
        <pre></pre>
        <button class="btn btn-primary" style="width: 100px; height: 40px;" type="submit" name="show">SHOW</button>
    </center>
    </div>
  </form>
</div>



  {% endblock %}